/* Estilos del Encabezado de Contacto */
.encabezado__eslogan-titulo{
    font-weight: 700;
    margin-top: 24px;
}

.encabezado__eslogan-parrafo{
    margin-top: 8px;
}

/*Estilos del Formulario de Contacto*/
.contacto_contenedor{
    text-align: center;
}
.contacto-titulo{
    background-color: #462a19;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 0.2rem;
    padding: 1.2rem 0;
    margin-top: 25px;
}

.contacto-duda-sugerencia{
    font-size: 1.15rem;
    margin-top: 30px;
    margin-bottom: 50px;
}

.contacto-completa{
    font-size: 1.2rem ;
    font-weight: 700;
    text-align: left;
}

.form-check-input:checked {
    background-color: #462a19;;
    border-color: #ffb900;
}

.politica-privacidad{
    text-decoration: underline;
    color: whitesmoke;
}

.btn {
    --bs-btn-padding-x: 22.4rem;
    --bs-btn-padding-y: 0.6rem;
    --bs-btn-font-size: 1.1rem;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #462a19;
    --bs-btn-border-color: #462a19;
    --bs-btn-hover-color: #ffb900;
    --bs-btn-hover-bg: #462a19;
    --bs-btn-hover-border-color: #462a19;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #db0007;
    --bs-btn-active-border-color: #db0007;
}