/* Reseteo del Navegador Web */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reseteo Selectores de Etiquetas */
body{
    background-color: #ffb900;
    color: #000000;
    font-family: 'Hind Vadodara', sans-serif;
}

ul, ol{
    list-style-position: inside;
}

a{
    color: inherit;
    text-decoration: none;
}

img, video, iframe{
    max-width: 100%;
    height: auto;
}

/* Estilos del header */
/* .encabezado{

} */

/* .encabezado__logo{

} */

/* .encabezado__eslogan{

} */

/* .encabezado__eslogan-titulo{

} */

/* .encabezado__eslogan-parrafo{

} */

